.container {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 2px solid purple;
  border-radius: 0.5em;
}

.searchbar {
  width: 30%;
  display: block;
  float: left;
  margin-right: 2%;
  border: 2px solid purple;
  border-radius: 0.5em;
  padding: 1%;
}

.searchbutton {
  width: 20%;
  height: 6%;
  display: block;
  background-color: purple;
  border: purple;
  border-radius: 0.3em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

.searchbutton:hover {
  background-color: grey;
}

h2 {
  text-align: center;
  padding: 50px;
}

h5 {
  text-align: left;
  color: #878787;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  display: block;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  color: grey;
}

ul {
  margin: 0 auto;
}

p {
  margin: 0 auto;
}
.weekdays {
  max-width: 12%;
  padding: 0;
  margin: 0 auto;
}

.days {
  text-align: center;
  width: 80%;
  border: 2px solid grey;
  border-radius: 0.5rem;
  color: purple;
  margin: 0 auto;
  padding: 3%;
}
